.masonry {
  margin: 0 auto}

.masonry-sizer, .masonry-item {
  margin-bottom: $spacing/2;
  width: calc((100% - 8%) / 3);
  @media(max-width:$breakpoint*1.5) {
    width: calc((100% - 4%) / 2)}
  @media(max-width:$breakpoint) {
    width: 100%}}

.masonry-gutter-sizer {
  width: 4%}

.filter {
  padding: $spacing;
  color: $gray;
  &:hover, &:active {
    color: $fg}}

input[id^="filter"]:checked + .filter {
  font-weight: bold}

.sold-out {
  img {
    filter: brightness(30%);
  }
  &::after {
    display: block;
    content: "Sold Out";
    color: white !important;
    font-size: 3em;
    position: absolute;
    z-index: 10;
    top: 20rem;
    left: 0;
    width: 100%;
  }
}
