@mixin multi($attr, $v, $xs...) {
  // Setting multi properties attribute
  @each $x in $xs {
    #{$attr}-#{$x}: $v;}}

// Section spacing --------------------------------------------------------------

.content, .content\+1, .content\+2 {
  overflow: hidden;
  @include multi(margin, auto, left, right)}

.content-l, .content-l\+1, .content-l\+2 {
  overflow: hidden;
  margin-left: 0;
  margin-right: auto}

.content-r, .content-r\+1, .content-r\+2 {
  overflow: hidden;
  margin-left: auto;
  margin-right: 0}

.content    { max-width: $breakpoint * 1.5; }
.content\+1 { max-width: $breakpoint * 1.5 * 1.3; }
.content\+2 { max-width: $breakpoint * 1.5 * 1.7; }

@mixin responsive($xs...) {
  // Reduce spacing to 2rem if in mobile mode
  @media(max-width:$breakpoint+0.0001rem) {
    &.responsive {
      @each $x in $xs {
        #{$x}: 2rem; }}}}

@each $c, $s in (pad padding, mrg margin) {
  .#{$c}, .#{$c}\+1, .#{$c}\+2 {
      @include responsive(#{$s})}
  .#{$c} { #{$s}: $spacing; }
  .#{$c}\+1 { #{$s}: $spacing * 2; }
  .#{$c}\+2 { #{$s}: $spacing * 4; }
  @each $o, $a, $b in (v top bottom, h left right) {
    .#{$c}-#{$o}, .#{$c}-#{$o}-1, .#{$c}-#{$o}\+1 {
      @include responsive(#{$s}-#{$a}, #{$s}-#{$b})}
    .#{$c}-#{$o}    { @include multi(#{$s}, $spacing, #{$a}, #{$b}); }
    .#{$c}-#{$o}-1  { @include multi(#{$s}, $spacing / 2, #{$a}, #{$b}); }
    .#{$c}-#{$o}\+1 { @include multi(#{$s}, $spacing * 2, #{$a}, #{$b}); }
    .#{$c}-#{$o}\+2 { @include multi(#{$s}, $spacing * 4, #{$a}, #{$b}); }}}

// Flex row for horizontal alignment --------------------------------------------

.r { flex-direction: column; }
.r-x { flex-direction: row; }
.r, .r-x {
  width: 100%;
  display: flex;
  @media(min-width:$breakpoint) { flex-direction: row; }

  &.r-a-t { align-items: flex-start; }        // align top
  &.r-a-c { align-items: center; }            // align center
  &.r-a-b { align-items: flex-end; }          // align bottomw
  &.r-s-b { justify-content: space-between; }
  &.r-s-a { justify-content: space-around; }
  &.r-s-b, &.r-s-a {
    .col {
      @media(max-width:$breakpoint+0.0001rem) {
        @include multi(margin, $spacing / 2, top, bottom);
        &:first-of-type { margin-top: 0; }
        &:last-of-type { margin-bottom: 0; }}
      @media(min-width:$breakpoint) {
        @include multi(margin, $spacing / 2, left, right);
        &:first-of-type { margin-left: 0; }
        &:last-of-type { margin-right: 0; }}}}

  .col {
    position: relative;
    flex: 1 1 auto;
    display: block;
    width: 100%;

    @for $numerator from 1 through 12 {
      &.col-#{$numerator}\/12 { max-width: 100%; }}

    @media(min-width:$breakpoint) {
      @each $size in (1, 2, 3,
                             4, 5, 6,
                             7, 8, 9,
                             10, 11) {
        &.col-#{$size}\/12 {
          flex:  0 0 percentage($size/12);
          max-width: percentage($size/12); }}}}}

// Hero item --------------------------------------------------------------------

.hero, .hero-1, .hero\+1 {
  object-fit: cover;
  width: 100%;
  background-attachment: fixed; }

.hero    { height: 100vh; }
.hero-1  { height: 80vh; }
.hero-2  { height: 60vh; }
.hero\+1 {
  height: 100vh;
  @media(min-width:$breakpoint) {
    height: calc(100vh - #{$spacing}); }}

// Responsive -------------------------------------------------------------------

.hide-1  { @media(max-width:$breakpoint+0.0001rem) { display: none !important; }}
.hide\+1 { @media(min-width:$breakpoint) { display: none; }}
.hide { visibility: hidden; }

.grid {
  position: relative;
  display: grid;
  grid-gap: $spacing;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  justify-items: center}
