// Globals
$bg: white;
$fg: #1b1d28;
$dark: #222431;
$gray: #636680;
$light: #e9ccb1;
$body: "Lato", sans-serif;
$title: "Playfair Display", sans-serif;
$size: 1.6rem;
$breakpoint: 50rem;
$spacing: $size * 2.5;

@import "normalize";
@import "position";
@import "gallery";

body {
  color: $fg;
  font: 300 #{$size}/1.75 $body}

main {
  background-size: cover}

%h {
  margin: 0;
  font: 1.5em/1 $title}

h1 {
  font-size: 6em;
  @extend %h}

h2 { font-size: 3em;
  text-align: center;
  @extend %h}

h3 {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.8rem;
  padding-top: $spacing*2}

.subtitle {
  font-size: 2em;
  line-height:1.5}

a {
  color: unset;
  text-decoration: none;}

a, button {
  &:hover, &:active {
    color: $gray}}

header {
  height: 100vh}

aside {
  max-width: $breakpoint*1.75}

article{
  background: $bg; }

button, .button {
  &.inverse {
    color: $bg;
    border-color: $fg;
    background: $fg;
    &:hover, &:active {
      background: $light;
      border: solid 1px $light;
      color: $fg;
    }
  }
  outline: none;
  border: none;
  padding: $spacing/2 $spacing*2;
  border-radius: $spacing;
  background: $light;
  border: solid 1px $light;
  font-weight: 700;
  &:hover, &:active {
    background: $fg;
    color: $bg}}

dt {
  font-size: 1.25em;
  font-weight: 700}

dd {
  margin: 0}

#featured {
  text-align: center}

.card img {
  height: 40rem;
  object-fit: cover;
  object-position: center center}

.overlay {
  outline: 1px solid $bg;
  outline-offset: -1rem}

#faq {
  background: $light;
  p {
    font-size: 1.2em}}

#gallery {
  text-align: center}

%bar {
  width: 100vw;
  height: $spacing * 2.0;
  background: $bg}

nav {
  @extend %bar;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  text-align: right;
}

ul.inline {
  padding-left: 0;
  li:first-of-type {
    margin-left: 0}
  li {
    display: inline;
    margin-left: $spacing}}

footer {
  text-align: center;
  background: $fg;
  color: $bg;
}
