{{ $db := .Site.GetPage "masks" }}
<article id='gallery' class='pad-v+2'>
  <h2>Collection</h2>
  <p>See what's in stock</p>
  <div id='filters' class='r r-s-a content pad-v pad-h'>
    {{ range $i := (slice "style" "design") }}
      {{ $fs := slice }}
      {{ range $.Site.Data.inventory }}
        {{ $fs = $fs | append (index . $i) }}
      {{ end }}
      {{ range uniq $fs }}
        <div class='col'>
          <input id='filter-{{ . }}'
                 name='{{ $i }}'
                 class='filtered'
                 hidden
                 data-filter='{{ . }}'
                 type='radio'
                 onclick='handleFilter()'>
          <label class='filter' for='filter-{{ . }}'>
            {{ title . }}
          </label>
        </div>
      {{ end }}
    {{ end }}
  </div>
  <div class='content+2 pad-h'>
    <div class='masonry'>
      <div class='masonry-sizer'></div>
      <div class='masonry-gutter-sizer'></div>
      {{- range $name, $d := $.Site.Data.inventory -}}
      {{- with $db.Resources.GetMatch (index $d "image") -}}
      <figure class='{{ if (index $d "sold out") }}sold-out {{ end }}masonry-item card pad-v {{ index $d "design" }} {{ index $d "style" }}'>
          <img class='overlay'
               src='{{ (.Resize "600x").RelPermalink }}'
               alt='{{ humanize $name }}'>
        <figcaption class='pad-v'>
          <dt>{{ title $name }}</dt>
          <dd>
            <p><i>{{ index $d "description" }}</i></p>
            <small>{{ index $d "price" | lang.NumFmt 2 }} CAD</small>
          </dd>
        </figcaption>
      </figure>
      {{- end -}}
      {{- end -}}
    </div>
  </div>
</article>

