<head>
    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Param "title" | default .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ with .Param "description" }}<meta name="description" content="{{ . }}">{{ end }}
    {{ with .Param "author" }}<meta name="author" content="{{ . }}">{{ end }}
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700|Lato:300,700" rel="stylesheet">

    {{- $opts := (dict "targetPath" "css/style.css" "enableSourceMap" true "includePaths" (slice "assets")) }}
    {{- $style := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS $opts | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink | absURL }}" integrity="{{ $style.Data.Integrity }}">

    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script type='text/javascript' src='js/masonry.js'></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script defer type='text/javascript' src='js/shopping.js'></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139525485-2"></script>
    <script defer>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-139525485-2');
    </script>
</head>
