<nav class='hide-1 r-x r-a-c pad-h'>
  <div class=col>
    <ul class=inline>
      <li><a href=#featured>New</a></li>
      <li><a href=#faq>Faq</a></li>
      <li><a href=#gallery>Collection</a></li>
      <li><a href=#contact>Contact</a></li>
    </ul>
  </div>
</nav>
