{{- define "main" -}}
<main id='home' style='background-image: url("{{ .Params.background }}")'>
  <header class='r-x r-a-c content+2 pad'>
    <aside class='col'>
      <h1>{{ .Site.Title }}</h1>
      <p class='subtitle' style='max-width: 50rem'>{{ .Site.Params.description }}</p>
      <a href=#featured>
        <button>
          {{ .Params.call_to_action }}
        </button>
      </a>
    </aside>
  </header>
  <article id='featured' class='pad-v+2 pad-h'>
    <h2>New Arrivals</h2>
    <p>Collection updates weekly</p>
    <div class='r r-s-b content+2 pad-v+2'>
      {{- $db := .Site.GetPage "masks" -}}
      {{- range $f := first 3 .Params.featured -}}
      {{- with $db.Resources.GetMatch (index $.Site.Data.inventory $f "image") -}}
      <figure class='{{ if (index $.Site.Data.inventory $f "sold out") }}sold-out {{ end }}col card'>
        <img class='overlay'
             src='{{ (.Resize "600x").RelPermalink }}'
             alt='{{ humanize .  }}'>
        <figcaption class='pad-v'>
          <dl>
            <dt>{{ title $f }}</dt>
            <dd>{{ index $.Site.Data.inventory $f "price" | lang.NumFmt 2 }} CAD</dd>
          </dl>
        </figcaption>
      </figure>
      {{- end -}}
      {{- end -}}
    </div>
    <div class='r r-s-b content+2'>
      {{- $db := .Site.GetPage "masks" -}}
      {{- range $f := after 3 .Params.featured -}}
      {{- with $db.Resources.GetMatch (index $.Site.Data.inventory $f "image") -}}
      <figure class='{{ if (index $.Site.Data.inventory $f "sold out") }}sold-out {{ end }}col card'>
        <img class='overlay'
             src='{{ (.Resize "600x").RelPermalink }}'
             alt='{{ humanize .  }}'>
        <figcaption class='pad-v'>
          <dl>
            <dt>{{ title $f }}</dt>
            <dd>{{ index $.Site.Data.inventory $f "price" | lang.NumFmt 2 }} CAD</dd>
          </dl>
        </figcaption>
      </figure>
      {{- end -}}
      {{- end -}}
    </div>
  </article>
  <section id='faq' class='pad-v+2 pad-h'>
    <div class='content+2'>
      {{ .Content }}
    </div>
  </section>
  {{ partial "gallery.html" . }}
</main>
{{- end -}}
